# Frontend
NEXT_PUBLIC_SIGNALING_URL=http://localhost:4000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Backend
PORT=4000
CLIENT_ORIGIN=http://localhost:3000
MAX_PARTICIPANTS=10
MEETING_TTL_MINUTES=360
